<section class="content-section" *ngIf="account">

    <app-options [action]="action" (editCard)="changeActionToEdit()" (deleteCard)="confirmDelete()"></app-options>

    <div class="content-form">
        <div class="image-account">
            <img class="image-account--img" [src]="account.iconUrl | cardWithoutImage" alt="Imagen de cuenta">
            <p class="image-account--p" *ngIf="action !== actionCardType.VIEW && !account.iconUrl">
                <mat-icon>add</mat-icon>
                <br>
                Toque para <br>cambiar
            </p>
            <mat-icon class="image-account--icon" *ngIf="action !== actionCardType.VIEW && account.iconUrl"
                      (click)="selectIcon()">edit
            </mat-icon>
            <button class="image-account--button-hidden" *ngIf="action !== actionCardType.VIEW"
                    (click)="selectIcon()"></button>
        </div>

        <form class="form-account" #form="ngForm" (ngSubmit)="onSubmit(form)">
            <mat-form-field>
                <mat-label>Nombre</mat-label>
                <input matInput type="text" name="name" required
                       [(ngModel)]="account.name" [readonly]="action === actionCardType.VIEW">
                <button matSuffix *ngIf="action === actionCardType.VIEW" (click)="copyToClipboard(account.name)"
                        mat-button mat-icon-button aria-hidden="false" aria-label="Copy to clipboard" type="button">
                    <mat-icon>content_copy</mat-icon>
                </button>
            </mat-form-field>
            <mat-form-field *ngIf="action !== actionCardType.VIEW || account.email">
                <mat-label>Email</mat-label>
                <input matInput type="email" name="email"
                       [(ngModel)]="account.email" [readonly]="action === actionCardType.VIEW">
                <button matSuffix *ngIf="action === actionCardType.VIEW" (click)="copyToClipboard(account.email)"
                        mat-button mat-icon-button aria-hidden="false" aria-label="Copy to clipboard" type="button">
                    <mat-icon>content_copy</mat-icon>
                </button>
            </mat-form-field>
            <mat-form-field *ngIf="action !== actionCardType.VIEW || account.username">
                <mat-label>Username</mat-label>
                <input matInput type="text" autocomplete="new-username" name="username"
                       [(ngModel)]="account.username" [readonly]="action === actionCardType.VIEW">
                <button matSuffix *ngIf="action === actionCardType.VIEW" (click)="copyToClipboard(account.username)"
                        mat-button mat-icon-button aria-hidden="false" aria-label="Copy to clipboard" type="button">
                    <mat-icon>content_copy</mat-icon>
                </button>
            </mat-form-field>
            <mat-form-field *ngIf="action !== actionCardType.VIEW || account.password">
                <mat-label>Contrasena</mat-label>
                <input matInput [type]="showPass ? 'text' : 'password'" autocomplete="new-password" name="password"
                       [(ngModel)]="account.password" [readonly]="action === actionCardType.VIEW">
                <div matSuffix class="group-buttons-suffix">
                    <button mat-button mat-icon-button (click)="showPass = !showPass"
                            aria-hidden="false" aria-labelledby="Show Pass" type="button">
                        <mat-icon>visibility</mat-icon>
                    </button>
                    <button *ngIf="action === actionCardType.VIEW" (click)="copyToClipboard(account.password)"
                            mat-button mat-icon-button aria-hidden="false" aria-label="Copy to clipboard" type="button">
                        <mat-icon>content_copy</mat-icon>
                    </button>
                </div>
            </mat-form-field>
            <mat-form-field *ngIf="action !== actionCardType.VIEW || account.data">
                <mat-label>Datos Adicionales</mat-label>
                <textarea matInput rows="2" name="data" [(ngModel)]="account.data"
                          [readonly]="action === actionCardType.VIEW"></textarea>
            </mat-form-field>

            <button mat-mini-fab color="primary" class="button-content"
                    aria-label="Example icon button with a bookmark icon"
                    *ngIf="action !== actionCardType.VIEW">
                <mat-icon>save</mat-icon>
                Guardar&nbsp;
            </button>
        </form>
    </div>


</section>

<app-without-card *ngIf="!account" [tab]="0"></app-without-card>
