.content-section {
  .content-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.form-account {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;

  .mat-form-field {
    width: 100%;
    mat-icon {
      font-size: 16px;
    }
  }
  .button-content {
    position: absolute;
    bottom: 32px;
    right: 32px;
    width: 124px;
    border-radius: 50px;
  }
}

.image-account {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;

  &--button-hidden {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    border-radius: 50%;
    opacity: 0;
    z-index: 10;
    cursor: pointer;
  }

  &--p {
    position: absolute;
    text-align: center;
    z-index: 1;
  }

  &--img {
    width: 128px;
    height: 128px;
    object-fit: cover;
    border-radius: 50%;
  }

  &--icon {
    position: absolute;
    top: 9px;
    right: 0;
    font-size: 18px;
    background: #dce4e5;
    color: #0c0c0c;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
  }
}


.group-buttons-suffix {
  display: flex;
  button {
    margin-left: 5px;
  }
}
