<div class="menu-container">
    <app-toolbar (openMenu)="snav.toggle()"></app-toolbar>

    <!-- #DCE4E5 color background icons  -->
    <mat-sidenav-container class="menu-sidenav-container" role="main" [hasBackdrop]="false">
        <mat-sidenav #snav mode="side" [opened]="true">

            <mat-tab-group headerPosition="below" (selectedIndexChange)="selectTab($event)">
<!-- Tab Accounts -->
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon>assignment_ind</mat-icon>
                    </ng-template>

                    <app-accounts class="container-nav-list"></app-accounts>
                </mat-tab>
<!-- Tab Banks -->
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon>account_balance</mat-icon>
                    </ng-template>

                    <app-banks class="container-nav-list"></app-banks>
                </mat-tab>
<!-- Tab Card -->
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon>credit_card</mat-icon>
                    </ng-template>

                    <app-cards class="container-nav-list"></app-cards>
                </mat-tab>
<!-- Tab Notes -->
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon>note</mat-icon>
                    </ng-template>

                    <app-notes class="container-nav-list"></app-notes>
                </mat-tab>
            </mat-tab-group>
        </mat-sidenav>

        <mat-sidenav-content>
            <app-content></app-content>
        </mat-sidenav-content>

    </mat-sidenav-container>
</div>
