.menu-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

//.example-is-mobile .example-toolbar {
//  position: fixed;
//  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
//  z-index: 2;
//}
//
.menu-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
  //margin: 16px;
}
//
//.example-is-mobile .example-sidenav-container {
//  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
//     `<body>` to be our scrolling element for mobile layouts. */
//  flex: 1 0 auto;
//}

.toolbar-spacer {
  flex: 1 1 auto;
}

.mat-tab-label {
  min-width: 72px !important;
  width: 100%;
}



/** Scroll bar */
.mat-drawer-inner-container::-webkit-scrollbar {
  display: none;
}
.mat-tab-group {
  height: 100%
}
.mat-tab-body-wrapper {
  flex: 1 1 auto;
}
.mat-tab-body-content {
  overflow: hidden !important;
  display: flex;
  flex-direction: column;
}
.container-nav-list {
  height: 100%;
}
.mat-nav-list {
  height: calc(100% - 76px);
  overflow: hidden;
  padding: 0 calc(.5rem + 4px) 0 .5rem;
}
.mat-nav-list:hover {
  overflow-y: scroll;
  padding-right: .5rem;
}
/* End scroll bar */


mat-icon.mat-icon.notranslate.mat-list-icon.mat-icon-no-color {
  width: 32px;
  height: 32px;
  font-size: 32px;
}
.mat-line {
  max-width: 200px;
}

/** SCROLL */

/* width */
::-webkit-scrollbar {
  width: 4px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #444444;
  border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #444444;
}
/** end Scroll */



@media (max-width: 724px) {
  mat-sidenav.mat-drawer.mat-sidenav.mat-drawer-side.mat-drawer-opened {
    width: 100%;
    .mat-line {
        max-width: 100%;
    }
  }
  .tab-toolbar {
    max-width: 100% !important;
  }

  .mat-nav-list {
    overflow: auto;
  }
}
