
<app-searchbar title="Notas" [showSearch]="!!notes.length" (searchByText)="searchByText($event)"></app-searchbar>

<app-without-list *ngIf="!notes.length"></app-without-list>

<mat-nav-list>
    <mat-selection-list [multiple]="false">
        <mat-list-option class="card background-color" *ngFor="let note of notes" (click)="selectNote(note)"
                         [class]="'background-color-' + note.color">
            <h4 mat-line class="card-title">{{note.name}}</h4>
            <p mat-line class="card-content"> {{note.content}} </p>
        </mat-list-option>
    </mat-selection-list>

</mat-nav-list>
