.card {
  margin-bottom: .5rem;
}
.mat-form-field-wrapper {
  padding-bottom: 0;
}
//
//  &-title {
//    font-weight: 500 !important;
//    font-size: 16px !important;
//  }
//
//  &-content {
//  }
//  &--color {
//    //width: 32px;
//    //height: 32px;
//    //border-radius: 50%;
//    background-color: orangered;
//  }
//}
//
//.card:nth-child(2n + 1) {
//  .card--color {
//    background-color: aqua;
//  }
//}
mat-icon.mat-icon.notranslate.mat-list-icon.card--color.mat-primary.material-icons {
  font-size: 32px;
  width: 32px;
  height: 32px;
}
