.container-without-card {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .img {
    width: 200px;
  }
  .text {
    padding-top: 1rem;
    text-align: center;
  }
}
