<section class="content-section" *ngIf="bank">

    <app-options [action]="action" [showCopyButton]="true" (copyText)="copyToClipboard()" (editCard)="changeActionToEdit()" (deleteCard)="confirmDelete()"></app-options>

    <div class="content-form">

        <form class="form-account" #form="ngForm" (ngSubmit)="onSubmit(form)">
            <mat-form-field>
                <mat-label>Nombre del banco</mat-label>
                <input matInput type="text" name="bank" required
                       [(ngModel)]="bank.bank" [readonly]="action === actionCardType.VIEW">
            </mat-form-field>

            <mat-form-field *ngIf="action !== actionCardType.VIEW || bank.number">
                <mat-label>Número de cuenta bancaria</mat-label>
                <input matInput type="text" name="number"  mask="0000 0000 00 00000 00000"
                       [(ngModel)]="bank.number" [readonly]="action === actionCardType.VIEW">
            </mat-form-field>

            <mat-form-field *ngIf="action !== actionCardType.VIEW || bank.type">
                <mat-label>Tipo de cuenta</mat-label>
                <mat-select *ngIf="action !== actionCardType.VIEW" placeholder="Selecciona" name="type"
                            [(ngModel)]="bank.type">
                    <mat-option *ngFor="let option of optionsType" [value]="option">
                        {{option}}
                    </mat-option>
                </mat-select>
                <input *ngIf="action === actionCardType.VIEW" matInput type="text" name="type"
                       [(ngModel)]="bank.type" readonly>
            </mat-form-field>

            <mat-form-field *ngIf="action !== actionCardType.VIEW || bank.name">
                <mat-label>Nombre del titular</mat-label>
                <input matInput type="text" name="name" required
                       [(ngModel)]="bank.name" [readonly]="action === actionCardType.VIEW">
            </mat-form-field>

            <mat-form-field *ngIf="action !== actionCardType.VIEW || bank.ci">
                <mat-label>Documento de Identidad del titular</mat-label>
                <input matInput type="text" name="ci"
                       [(ngModel)]="bank.ci" [readonly]="action === actionCardType.VIEW">
            </mat-form-field>

            <mat-form-field *ngIf="action !== actionCardType.VIEW || bank.email">
                <mat-label>Correo Electrónico</mat-label>
                <input matInput type="email" name="email"
                       [(ngModel)]="bank.email" [readonly]="action === actionCardType.VIEW">
            </mat-form-field>

            <mat-form-field  *ngIf="action !== actionCardType.VIEW || bank.phoneNumber">
                <mat-label>Número Telefónico</mat-label>
                <input matInput type="text" name="phoneNumber"
                       [(ngModel)]="bank.phoneNumber" [readonly]="action === actionCardType.VIEW">
            </mat-form-field>

            <mat-form-field  *ngIf="action !== actionCardType.VIEW || bank.data">
                <mat-label>Datos Adicionales</mat-label>
                <textarea matInput rows="2" name="data" [(ngModel)]="bank.data"
                          [readonly]="action === actionCardType.VIEW"></textarea>
            </mat-form-field>

            <button mat-mini-fab color="primary" class="button-content" aria-label="Example icon button with a bookmark icon"
                    *ngIf="action !== actionCardType.VIEW">
                <mat-icon>save</mat-icon>
                Guardar&nbsp;
            </button>
        </form>
    </div>


</section>

<app-without-card *ngIf="!bank" [tab]="1"></app-without-card>
