/** SearchBar */
.tab-toolbar {
  display: flex;
  justify-content: flex-end;
  margin: 1rem 1rem 0;
  height: 50px;
  max-width: 272px;
}

.tab-searchbar {
  display: flex;
  justify-content: center;
  margin: 6px 1rem 4px;
  height: 56px;
}

.mat-form-field {
  width: 90%;
  font-size: 16px;
  mat-icon.mat-icon.notranslate.material-icons.mat-icon-no-color {
    font-size: 20px;
  }
}
.mat-form-field-infix.ng-tns-c80-6 {
  border-top: none !important;
}
