<div class="tab-toolbar" *ngIf="!isSearching">
    <h2 class="m-0">{{title}}</h2>
    <span class="toolbar-spacer"></span>
    <button *ngIf="showSearch" mat-icon-button (click)="showSearchbar()">
        <mat-icon>search</mat-icon>
    </button>
</div>

<div class="tab-searchbar" *ngIf="isSearching">
<!--    <button mat-icon-button (click)="isSearching = false">-->
<!--        <mat-icon>come_back</mat-icon>-->
<!--    </button>-->
    <mat-form-field floatLabel="never">
<!--        <mat-icon matPrefix aria-hidden="true">search</mat-icon>-->
        <input #inputSearch matInput  type="search" placeholder="Buscar"
               [(ngModel)]="searchText" (keyup.enter)="searchByTextEmit()">
        <button mat-icon-button matSuffix aria-label="Close searching" (click)="isSearching = false">
            <mat-icon aria-hidden="false">close</mat-icon>
        </button>
    </mat-form-field>
</div>
