<mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="eventOpenMenu()">
        <mat-icon>menu</mat-icon>
    </button>
    <h1 class="app-name">Secury</h1>
    <span class="toolbar-spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="options" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #options="matMenu">
        <button mat-menu-item (click)="confirmCloseSession()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Cerrar sesion</span>
        </button>
    </mat-menu>
</mat-toolbar>
