@font-face {
    font-family: "Noto Sans";
    src: url('/assets/fonts/noto-sans/NotoSans-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Noto Sans";
    src: url('/assets/fonts/noto-sans/NotoSans-Italic.ttf');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Noto Sans";
    src: url('/assets/fonts/noto-sans/NotoSans-Bold.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Noto Sans";
    src: url('/assets/fonts/noto-sans/NotoSans-BoldItalic.ttf');
    font-weight: 600;
    font-style: italic;
}
