.color {
  &-red {
    color: #eb1300;
    &-bg {
      background-color: #eb1300 !important;
    }
  }

  &-green {
    color: #008014;
    &-bg {
      background-color: #008014 !important;
    }
  }

  &-blue {
    color: #4868ff;
    &-bg {
      background-color: #4868ff !important;
    }
  }

  &-purple {
    color: #8e3bff;
    &-bg {
      background-color: #8e3bff !important;
    }
  }

  &-gold {
    color: #953e0a;
    &-bg {
      background-color: #953e0a !important;
    }
  }

  &-platinum {
    color: #8b8b8b;
    &-bg {
      background-color: #8b8b8b !important;
    }
  }

  &-black {
    color: #1a1717;
    &-bg {
      background-color: #1a1717 !important;
    }
  }

}

.background-color {
  &:hover {
    opacity: .8;
  }

  &-red {
    background-color: #eb1300 !important;
    color: #FFFFFF !important;
  }

  &-green {
    background-color: #008014 !important;
    color: #FFFFFF !important;
  }
}
