.container-without-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
  padding: 0 2rem;

  .img {
    width: 200px;
  }
  .text {
    padding-top: 1rem;
    text-align: center;
  }
}
