<app-searchbar title="Cuentas" [showSearch]="!!accounts.length" (searchByText)="searchByText($event)"></app-searchbar>

<mat-nav-list>
    <mat-selection-list [multiple]="false">
        <mat-list-option *ngFor="let item of accounts; last as last" (click)="selectAccount(item)">
            <img matListAvatar [src]="'assets/icon/accounts/' + item.iconUrl + '.png'" [alt]="item.name">
            <h4 mat-line>{{item.name}}</h4>
            <p mat-line>{{item.email}}</p>
            <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
        </mat-list-option>
    </mat-selection-list>
</mat-nav-list>
