.login-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.login {
  width: 280px;
  height: 380px;
  text-align: center;

  &--header {
    padding-top: 1rem;
    justify-content: center;

    &-title {
      font-size: 28px;

      p {
        font-size: 18px;
        font-style: italic;
        //position: relative;
        //left: 20%;
        margin: .5rem 0;
      }
    }
    &-subtitle {
      margin: .5rem 0 !important;
    }
  }

  &--image {
    width: 150px;
    height: 150px;
    margin: 1rem 0;
  }

  &--footer {
    margin: 1rem 0 2rem !important;
    position: absolute;
    width: calc(100% - 32px);
    display: flex;
    justify-content: center;
    bottom: 0;
  }

  &--button-icon {
    margin-right: 1rem;
  }
}

.login-parent:before {
  content: "";
  position: absolute;
  top: 0;
  background: #2979ff;
  width: 100%;
  height: 100%;
  clip-path: polygon(0 0, 100% 0%, 100% 32%, 0% 64%);
}


.button-google-play {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  img {
    cursor: pointer;
    width: 172px;
  }
}
