<div class="login-parent">
    <mat-card class="login">
        <mat-card-header class="login--header">
            <mat-card-title class="login--header-title">Secury Web <p>premium</p></mat-card-title>
            <mat-card-subtitle class="login--header-subtitle">Ahora podras acceder desde cualquier navegador</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image class="login--image" src="assets/img/locked.png" alt="Icon app">
        <mat-card-content class="login--footer">
            <button mat-raised-button color="white" (click)="login()">
                <mat-icon class="login--button-icon" svgIcon="google-icon"></mat-icon>
                Acceder con Google
            </button>
        </mat-card-content>
    </mat-card>

    <a class="button-google-play" (click)="redirectToGooglePlay()">
        <img src="assets/img/google-play-badge.png" alt="Button redirect google play">
    </a>
</div>
