<h2 mat-dialog-title>¿Esta seguro de que desea eliminar <br> {{data.name}}?</h2>
<div mat-dialog-content>
    <p>Esta accion no podra revertirse</p>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="closeDialog()">No</button>
    <button mat-button (click)="closeDialogWithParam()" cdkFocusInitial>Si, eliminar</button>
</div>
