<div class="content-actions">
    <button mat-button *ngIf="showCopyButton && action === actionCardType.VIEW" (click)="copyToClipboard()">
        <mat-icon>content_copy</mat-icon>
        Copiar
    </button>
    <button mat-button *ngIf="showColorButton && action !== actionCardType.VIEW"
            cpPositionOffset="50%" cpOutputFormat="hex" cpAlphaChannel="disabled"
            [cpPositionRelativeToArrow]="true" [value]="color"
            [(colorPicker)]="color" (colorPickerChange)="goToChangeColor()">
        <mat-icon [style]="{color: color}">stop_circle</mat-icon>
        Color
    </button>
    <button mat-button *ngIf="action === actionCardType.VIEW" (click)="goToEdit()">
        <mat-icon>edit</mat-icon>
        Editar
    </button>
    <button mat-button *ngIf="action !== actionCardType.ADD" (click)="confirmDelete()">
        <mat-icon>delete</mat-icon>
        Eliminar
    </button>
</div>
