<div class="padding">

    <app-account *ngIf="tabSelected === tabType.ACCOUNTS"></app-account>
    <app-card *ngIf="tabSelected === tabType.CARDS"></app-card>
    <app-bank *ngIf="tabSelected === tabType.BANKS"></app-bank>
    <app-note *ngIf="tabSelected === tabType.NOTES"></app-note>

    <!--    <div class="example-button-container">-->
    <button mat-mini-fab color="primary" class="button-content" aria-label="Example icon button with a bookmark icon"
            *ngIf="actionCard === actionCardType.VIEW" (click)="addNewItem()">
        <mat-icon>add</mat-icon>
        Agregar&nbsp;
    </button>
    <!--    </div>-->
</div>



