<div mat-dialog-title class="m-0">
    <h2 class="m-0">Selecciona el icono</h2>
    <mat-form-field floatLabel="never" class="searchbar">
        <input matInput type="search" [(ngModel)]="search" placeholder="Busca tu icono...">
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
</div>
<div mat-dialog-content>

    <mat-selection-list [multiple]="false">
        <mat-list-option *ngFor="let icon of icons | filterByParameters: search" (click)="selectIcon(icon)">
            <img matListAvatar [src]="'/assets/icon/accounts/' + icon.src + '.png'" [alt]="icon.name">
            <p matLine>{{icon.name}}</p>
        </mat-list-option>
<!--        <mat-list-item>-->
<!--            -->
<!--        </mat-list-item>-->
        <p *ngIf="!(icons | filterByParameters: search).length" class="text-center">Sin resultados</p>
    </mat-selection-list>

</div>

