<app-searchbar title="Tajetas" [showSearch]="!!cards.length" (searchByText)="searchByText($event)"></app-searchbar>

<app-without-list *ngIf="!cards.length"></app-without-list>

<mat-nav-list>
    <mat-selection-list [multiple]="false">
        <mat-list-option class="card" *ngFor="let card of cards; last as last" (click)="selectCard(card)">
            <h4 mat-line class="card-title">{{card.bank}}</h4>
            <p mat-line class="card-number"> {{card.cardNumber}} </p>
            <p class="card-date">{{card.expirationDate}}</p>
            <div class="card-name">
                <span>{{card.name}}</span>
                <div class="card-name--color"></div>
            </div>
            <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
        </mat-list-option>
    </mat-selection-list>
</mat-nav-list>

