.card {
  height: 112px !important;

  &-title {
    //font-weight: 500 !important;
    font-size: 14px !important;
  }

  &-number {
    font-size: 16px !important;
  }

  &-date {
    text-align: center;
    font-size: 12px !important;
    font-style: italic;
  }

  &-name {
    font-weight: 500 !important;
    font-size: 14px !important;
    position: relative;
    &--color {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background-color: orangered;
      position: absolute;
      right: -8px;
      top: -8px;
    }
  }
}

.card:nth-child(3n + 1) {
  .card-name--color {
    background-color: aqua;
  }
}
