.content-section {
  .content-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.form-account {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;

  .mat-form-field {
    width: 100%;
  }
  .button-content {
    position: fixed;
    bottom: 32px;
    right: 32px;
    width: 124px;
    border-radius: 50px;
  }
}

.title {
  font-size: 18px;
  font-weight: 500;
}
