<section class="content-section" *ngIf="note">

    <app-options [action]="action" [showColorButton]="true" [color]="note.color" (editColor)="changeColor($event)"
                 (editCard)="changeActionToEdit()" (deleteCard)="confirmDelete()"></app-options>

    <div class="content-form">

        <form class="form-account" #form="ngForm" (ngSubmit)="onSubmit(form)">
            <mat-form-field floatLabel="never" appearance="none" class="title" [style]="{color: note.color}">
                <input matInput type="text" name="name" placeholder="Title" required
                       [(ngModel)]="note.name" [readonly]="action === actionCardType.VIEW">
            </mat-form-field>

            <mat-form-field floatLabel="never" appearance="none">
<!--                cols="30" rows="10"-->
                <textarea #textareaContent matInput name="content" placeholder="Escriba su nota aqui..."
                          [cdkTextareaAutosize]="true" [cdkAutosizeMinRows]="1" [rows]="action === actionCardType.ADD ? 20 : false"
                          [(ngModel)]="note.content" [readonly]="action === actionCardType.VIEW"></textarea>
            </mat-form-field>

            <button mat-mini-fab color="primary" class="button-content" aria-label="Save"
                    *ngIf="action !== actionCardType.VIEW">
                <mat-icon>save</mat-icon>
                Guardar&nbsp;
            </button>
        </form>
    </div>


</section>

<app-without-card *ngIf="!note" [tab]="1"></app-without-card>
