// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$secury-web-primary: mat-palette($mat-blue-gray);
$secury-web-accent: mat-palette($mat-blue, A400, A100, A400);

// The warn palette is optional (defaults to red).
$secury-web-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$secury-web-theme: mat-light-theme((
        color: (
                primary: $secury-web-primary,
                accent: $secury-web-accent,
                warn: $secury-web-warn,
        )
));

$secury-web-typografy: mat-typography-config(
        $font-family: '"Noto Sans", Roboto, sans-serif'
);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-typography($secury-web-typografy);
@include angular-material-theme($secury-web-theme);

/* You can add global styles to this file, and also import other style files */
@import "assets/css/custom-colors";


html, body {
  height: 100%;
}

body {
  margin: 0;
}


.padding {
  padding: 1rem;
}

.w-100 {
  width: 100% !important;
}

.m-0 {
  margin: 0 !important;
}

.text-center {
  text-align: center;
}


.d-flex {
  display: flex;
}
