<h2 mat-dialog-title>¿Esta seguro de que desea cerrar su sesion?</h2>
<div mat-dialog-content>
    <p>Para acceder debera loguearse nuevamente</p>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="closeDialog()">No</button>
    <button mat-button (click)="closeDialogWithParam()" cdkFocusInitial>Si, salir</button>
</div>

