<section class="content-section" *ngIf="card">

    <app-options [action]="action" (editCard)="changeActionToEdit()" (deleteCard)="confirmDelete()"></app-options>

    <div class="content-form">

        <form class="form-account" #form="ngForm" (ngSubmit)="onSubmit(form)">
            <mat-form-field>
                <mat-label>Banco</mat-label>
                <input matInput type="text" name="bank" required
                       [(ngModel)]="card.bank" [readonly]="action === actionCardType.VIEW">
            </mat-form-field>

            <mat-form-field *ngIf="action !== actionCardType.VIEW || card.cardNumber">
                <mat-label>Nro. de tarjeta</mat-label>
                <input matInput type="text" name="cardNumber" mask="0000-0000-0000-0000-9999"
                       [(ngModel)]="card.cardNumber" [readonly]="action === actionCardType.VIEW">
            </mat-form-field>

            <mat-form-field *ngIf="action !== actionCardType.VIEW || card.color">
                <mat-label>Tipo de tarjeta</mat-label>
                <mat-select *ngIf="action !== actionCardType.VIEW" placeholder="Selecciona" name="color"
                            [(ngModel)]="card.color">
                    <mat-select-trigger>
                        {{card.color.title}}
                    </mat-select-trigger>
                    <mat-option *ngFor="let option of cardOptions" [value]="option">
                        <mat-icon [class]="'color-' + option.color">stop_circle</mat-icon>
                        {{option.title}}
                    </mat-option>
                </mat-select>
                <input *ngIf="action === actionCardType.VIEW" matInput type="text" name="color"
                       [(ngModel)]="card.color.title" readonly>
            </mat-form-field>

            <div class="container-two-field" *ngIf="action !== actionCardType.VIEW || card.expirationDate || card.cvc">
                <mat-form-field>
                    <mat-label>Fecha de expiración</mat-label>
                    <input matInput type="text" name="expirationDate" mask="00/00"
                           [(ngModel)]="card.expirationDate" [readonly]="action === actionCardType.VIEW">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>CVC</mat-label>
                    <input matInput type="text" name="cvc" mask="00000"
                           [(ngModel)]="card.cvc" [readonly]="action === actionCardType.VIEW">
                </mat-form-field>
            </div>

            <mat-form-field *ngIf="action !== actionCardType.VIEW || card.name">
                <mat-label>Nombre del tarjetahabiente</mat-label>
                <input matInput type="text" name="name"
                       [(ngModel)]="card.name" [readonly]="action === actionCardType.VIEW">
                <button matSuffix *ngIf="action === actionCardType.VIEW" (click)="copyToClipboard(card.name)"
                        mat-button mat-icon-button aria-hidden="false" aria-label="Copy to clipboard" type="button">
                    <mat-icon>content_copy</mat-icon>
                </button>
            </mat-form-field>

            <mat-form-field  *ngIf="action !== actionCardType.VIEW || card.ci">
                <mat-label>Documento de identidad del tarjetahabiente</mat-label>
                <input matInput type="text" name="ci"
                       [(ngModel)]="card.ci" [readonly]="action === actionCardType.VIEW">
                <button matSuffix *ngIf="action === actionCardType.VIEW" (click)="copyToClipboard(card.ci)"
                        mat-button mat-icon-button aria-hidden="false" aria-label="Copy to clipboard" type="button">
                    <mat-icon>content_copy</mat-icon>
                </button>
            </mat-form-field>

            <mat-form-field *ngIf="action !== actionCardType.VIEW || card.phoneNumber">
                <mat-label>Telefono del tarjetahabiente</mat-label>
                <input matInput type="text" name="phoneNumber"
                       [(ngModel)]="card.phoneNumber" [readonly]="action === actionCardType.VIEW">
                <button matSuffix *ngIf="action === actionCardType.VIEW" (click)="copyToClipboard(card.phoneNumber)"
                        mat-button mat-icon-button aria-hidden="false" aria-label="Copy to clipboard" type="button">
                    <mat-icon>content_copy</mat-icon>
                </button>
            </mat-form-field>

            <mat-form-field  *ngIf="action !== actionCardType.VIEW || card.address">
                <mat-label>Dirección de facturación</mat-label>
                <input matInput type="text" name="phoneNumber"
                       [(ngModel)]="card.address" [readonly]="action === actionCardType.VIEW">
                <button mat-icon-button matSuffix *ngIf="action === actionCardType.VIEW" (click)="copyToClipboard(card.address)"
                        aria-hidden="false" aria-label="Copy to clipboard" type="button">
                    <mat-icon>content_copy</mat-icon>
                </button>
            </mat-form-field>

            <mat-form-field  *ngIf="action !== actionCardType.VIEW || card.data">
                <mat-label>Datos Adicionales</mat-label>
                <textarea matInput rows="2" name="data" [(ngModel)]="card.data"
                          [readonly]="action === actionCardType.VIEW"></textarea>
            </mat-form-field>

            <button mat-mini-fab color="primary" class="button-content" aria-label="Example icon button with a bookmark icon"
                    *ngIf="action !== actionCardType.VIEW">
                <mat-icon>save</mat-icon>
                Guardar&nbsp;
            </button>
        </form>
    </div>


</section>

<app-without-card *ngIf="!card" [tab]="1"></app-without-card>
