.content-section {
  .content-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
  }
}

.form-account {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;

  .mat-form-field {
    width: 100%;
  }
  .button-content {
    position: absolute;
    bottom: 32px;
    right: 32px;
    width: 124px;
    border-radius: 50px;
  }
}

.container-two-field {
  display: flex;
  justify-content: space-between;
  width: 100%;
  .mat-form-field {
    width: 48%;
  }
}
