.card {
  height: 82px !important;

  &-subtitle {
    line-height: 1;
    font-size: 12px !important;
  }

  &-title {
    font-size: 16px !important;
    font-weight: 500 !important;
  }

  &-number {
      font-size: 14px !important;
  }
}
