<app-searchbar title="Bancos" [showSearch]="!!banks.length" (searchByText)="searchByText($event)"></app-searchbar>

<mat-nav-list>
    <mat-selection-list [multiple]="false">
        <mat-list-option class="card" *ngFor="let bank of banks; last as last" (click)="selectBank(bank)">
            <p mat-line class="card-subtitle"> {{bank.name}} - {{bank.type}} </p>
            <h4 mat-line class="card-title">{{bank.bank}}</h4>
            <p class="card-number">{{bank.number}}</p>
<!--            <div class="card-name">-->
<!--            </div>-->
            <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
        </mat-list-option>
    </mat-selection-list>
</mat-nav-list>
